<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/styles.css}">
<head>
    <meta charset="UTF-8">
    <title>Lista de Películas</title>
</head>
<body>
<h1>Lista de Películas</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Año de Estreno</th>
        <th>Descripción</th>
        <th>Personajes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.id}"></td>
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.releaseYear}"></td>
        <td th:text="${movie.description}"></td>
        <td>
            <span th:each="personaje : ${movie.personajes}" th:text="${personaje.name} + ' '"></span>
        </td>
        <td>
            <a th:href="@{/movies/eliminar/{id}(id=${movie.id})}">
                <button type="button">Eliminar</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<h2>Buscar un pelicula</h2>
<form th:action="@{/movies/}" method="get">
    <label for="movieId">ID dela pelicula:</label>
    <input type="number" id="movieId" name="id" min="1" required>
    <button type="submit">Actualizar Pelicula</button>
</form>

<a th:href="@{/movies/peliculaform}">
    <button>Añadir Pelicula</button>
</a>

<a th:href="@{/movies/gestionar}">
    <button>Gestionar Relación Películas-Personajes</button>
</a>
</body>
</html>
