<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/styles.css}">
<head>
    <meta charset="UTF-8">
    <title>Lista de Lugares de Trabajo</title>
</head>
<body>
<h1>Lista de Lugares de Trabajo</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Descripción</th>
        <th>Personajes que Trabajan Aquí</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="workplace : ${workplaces}">
        <td th:text="${workplace.id}"></td>
        <td th:text="${workplace.name}"></td>
        <td th:text="${workplace.location}"></td>
        <td th:text="${workplace.description}"></td>
        <td>
            <span th:each="personaje : ${workplace.personajes}" th:text="${personaje.name} + ' '"></span>
        </td>
        <td>
            <a th:href="@{/workplaces/eliminar/{id}(id=${workplace.id})}">
                <button type="button">Eliminar</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<hr>

<h2>Buscar un lugar de trabajo</h2>
<form th:action="@{/workplaces/}" method="get">
    <label for="workplaceId">ID del lugar de trabajo:</label>
    <input type="number" id="workplaceId" name="id" min="1" required>
    <button type="submit">Actualizar lugar de trabajo</button>
</form>
<hr>
<a th:href="@{/workplaces/workplaceform}">
    <button>Añadir lugar de trabajo</button>
</a>

</body>
</html>
