<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/styles.css}">
<head>
    <meta charset="UTF-8">
    <title>Lista de Lugares de Trabajo</title>
</head>
<body>
<h1>Lista de Lugares de Trabajo</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Descripción</th>
        <th>Personajes que Trabajan Aquí</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="workplace : ${workplaces}">
        <td th:text="${workplace.id}"></td>
        <td th:text="${workplace.name}"></td>
        <td th:text="${workplace.location}"></td>
        <td th:text="${workplace.description}"></td>
        <td>
            <span th:each="personaje : ${workplace.personajes}" th:text="${personaje.name} + ' '"></span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
